# Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
*.iml
*.lock
android/app/src/main/java/io/flutter/plugins/

# Firebase
serviceAccountKey.json

# Android
android/.gradle/
android/app/build/
android/local.properties
*.jks
*.keystore

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Zip
*.zip
